*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #8ab9e7
}
.img-container{
    width:60%;
    position: relative;
    /* border:2px solid black; */
    height:80vh;
    margin:0 20%;
    margin-top: 5%;
    background-image: url('images/1.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #7997fd
    /* ,-10px -10px 15px #7997fd; */
}
.btn-left{
    position: absolute;
    color: azure;
    font-size: 2.5rem;
    left: 0;
    top: 50%;
    border:2px solid #7997fd;
    border-radius: 50px;
    padding:15px;
    transform:translate(-50%,-50%);
    background-color: #c7b5fb;
    cursor: pointer;
}
.btn-right{
    position: absolute;
    color: azure;
    font-size: 2.5rem;
    left: 0;
    top: 50%;
    border:2px solid #7997fd;
    border-radius: 50px;
    padding:15px;
    transform:translate(50%,-50%);
    margin-left: 725px;
    background-color: #c7b5fb;
    cursor: pointer;
}